/* Este es el documento con los estilos */
      .contenedor {
      display: flex;
      flex-direction:row;
      gap: 2rem;
      justify-content: space-between;
      align-items: center;
    }
    .item1 {
      font-size:x-large;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 100px;
    }
    .item2 {
      font-size:medium;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 80px;
    }
    .item0 {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 250px;
    }
    .w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
    .w3-round-small{border-radius:2px}.w3-round,.w3-round-medium{border-radius:4px}.w3-round-large{border-radius:8px}.w3-round-xlarge{border-radius:16px}.w3-round-xxlarge{border-radius:32px}
    .w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
    .w3-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
    .w3-green,.w3-hover-green:hover{color:#fff!important;background-color:green!important}
    .w3-yellow,.w3-hover-yellow:hover{color:#fff!important;background-color:rgb(196, 148, 28)!important}
    